/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*=================================
NORMALIZE BUTTONS
=================================*/

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

 button,
 input,
 optgroup,
 select,
 textarea {
   font-family: inherit; /* 1 */
   font-size: 100%; /* 1 */
   line-height: 1.15; /* 1 */
   margin: 0; /* 2 */
 }
 
 /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
 
 button,
 input { /* 1 */
   overflow: visible;
 }
 
 /**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
 
 button,
 select { /* 1 */
   text-transform: none;
 }
 
 /**
  * Correct the inability to style clickable types in iOS and Safari.
  */
 
 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
   -webkit-appearance: button;
 }

/*=================================
BODY
==================================*/

body {
	background-image: url('assets/witchcraft_in_the_making_by_kilirai_der5y6e-fullview.jpg');
	background-size: cover;
	font-size: 10px;
}

/*=================================
TITLE
==================================*/

h1 {
	color: beige;
	font-size: clamp(8em, 10em, 12em);
	font-family: 'Marcellus', serif;
	/* border: 3px solid lime; */
	display: inline;
	text-shadow: 5px 0px 12px rgba(50, 30, 56, 0.95), 
				-5px 0px 12px rgba(50, 30, 56, 0.95), 
				0px 4px 12px rgba(50, 30, 56, 0.95);
}

/*=================================
BUTTONS & CONTAINERS
==================================*/

.general-container {
	/* border: 3px solid lime; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 99vh;
}
.btn-container {
	/* border: 3px solid red; */
	margin-top: 2%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60vh;
}

.music-btn {
	border: 1px solid rgba(00, 00, 00, 55%);
	padding: 3%;
	cursor: pointer;
	border-radius: 50%;
	background-color: #ffffff;
	box-shadow: rgba(65, 32, 73, 0.575) 0px 2px 4px, 
				rgba(65, 32, 73, 0.575) 0px 7px 13px -3px, 
				rgba(65, 32, 73, 0.575) 0px -3px 0px inset;
}

.music-btn:active {
	box-shadow: rgba(65, 32, 73, 0.4) 0px -2px 4px, 
				rgba(65, 32, 73, 0.3) 0px -7px 13px 3px, 
				rgba(65, 32, 73, 0.2) 0px 3px 0px inset;
}

.icon {
	color: rgb(82, 38, 94);
}

/*====================================
CLICKED CLASSES
=====================================*/

.clicked-btn {
	border: 1px solid rgba(00, 00, 00, 55%);
	padding: 3%;
	cursor: pointer;
	border-radius: 50%;
	background-color: rgb(82, 38, 94);
	box-shadow: rgba(65, 32, 73, 0.575) 0px 2px 4px, 
				rgba(65, 32, 73, 0.575) 0px 7px 13px -3px, 
				rgba(65, 32, 73, 0.575) 0px -3px 0px inset;
}

.clicked-icon {
	color: rgb(207, 180, 214);
}

/*====================================
MEDIA QUERIES
====================================*/

@media screen and (max-width: 500px) {
	h1 {
		width: 50vh;
		text-align: center;
		/*Add Clamp to adjust the text*/
	}


	.btn-container {
		flex-flow: row wrap;
		margin-top: 5%;
	}

	.music-btn {
		margin-bottom: 2%;
	}
}

@media (min-width: 501px) and (max-width: 1000px) {
	h1 {
		display: flex;
		justify-content: center;
		text-align: center;
	}
	
	.btn-container {
		flex-flow: row wrap;
		margin-top: 3%;
	}
}